process.container = 'quay.io/nextflow/bash'

google { 
 project = "cx-support-ticket-3825"   
 batch {    
network = "https://www.googleapis.com/compute/v1/projects/cx-support-ticket-3825/global/networks/test-network"    
subnetwork = "https://www.googleapis.com/compute/v1/projects/cx-support-ticket-3825/regions/us-east1/subnetworks/test-networksub"  
  }
}
